name: Load

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 8 * * 1'

jobs:
  load:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Set up Node
      uses: actions/setup-node@v1
      with:
        node-version: '16'
    - name: Install Python dependencies
      run: |-
        pip install --no-cache-dir pipenv
        pipenv install
    - name: Install Node
      run: npm ci
    - name: Load data
      run: pipenv run ./load.sh
    # - name: Publish
    #   run: TKTK
    - name: Deploy to Heroku
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: |-
        heroku plugins:install heroku-builds
        datasette publish heroku 538.db \
          -m metadata.json \
          -n 527-datasette'
